$clr_pink: hsl(322, 100%, 66%);
$clr-very-pale-cyan: hsl(193, 100%, 96%);
$clr-dark-cyan: hsl(192, 100%, 9%);
$clr-grayish-blue: hsl(208, 11%, 55%);

$fw-open-sans-thin: 300;
$fw-open-sans-light: 400;
$fw-open-sans-regular: 500;
$fw-open-sans-bold: 700;

$fw-poppins-regular: 500;
$fw-poppins-bold: 600;